@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .btn {
      @apply px-4 py-2 inline-block rounded-3xl text-center
   }

   .btn-primary {
      @apply bg-primary-color text-white hover:bg-[#025e47] transition-all
   }

   .box {
      @apply container px-5 lg:px-0
   }
}

#activeRoute {
   background-color: #025e47;
   color: white;
}

#active {
   color: #025e47;
}

#drawerOpen {
   width: 100vw !important;
   transition: 0.5s;

}

#drawerClose {
   width: 0px !important;
   transition: 0.5s;

}

.noScroll {
   overflow-y: hidden !important;
}

.boxShadow {
   box-shadow: 0 2px 16.8px 3.2px #00264214;
}